body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .header {
    background-color: #ffffff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 7px 2px -4px rgba(0,0,0,0.1);
  }
  
  .header img {
    height: 50px;
  }
  
  .main {
    padding: 20px;
    text-align: center;
  }
  
  .sports-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 50px;
    justify-items: center;
    padding: 20px;
  }
  
  .sport-card {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
  }
  
  .sport-card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
  }
  
  .sport-card:hover {
    background-color: #e0e0e0;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .footer {
    background-color: #282828;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
  }
  
  .footer p {
    margin: 5px 0;
  }
  