/* font imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Dont Touch This #content */

#content {
  display: none;
}

/* Modal styles for request details */
#request-details-modal {
  display: none; /* Hidden by default, shown when triggered */
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  justify-content: center;
  background: #0a0a0a79;
  align-items: center;
  top: 0;
  left: 0;
}


#requests-list {
  border-bottom: 0.5px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.sports-img img{
  height: 40px;
  width: 40px;
}
.sports-img {
  background: var(--user-sp-card-back);
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pending {
  color: blue;
  font-weight: 600;
}

.rejected {
  font-weight: 600;
  color: red;
}

.issued {
  font-weight: 600;
  color: green;
}

.returned {
  font-weight: 600;
  color: gray;
}
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.rq-container h1 i {
  color: #0a0a0a;
  padding-right: 8px;
}

.rq-container h1 {
  padding-bottom: 15px;
}


.modal-content h2 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-content p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

.request-card {
  background: #fff;
  border: 0.5px solid #ddd;
  border-bottom: none;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-card h3 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}

.request-card p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.main-req-shower {
  padding: 15px;
  font-family: "Inter" !important;
}

/* Responsive styles for modal */
@media only screen and (max-width: 767px) {
  #request-details-modal {
    display: none;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    width: 90%;
    padding: 15px;
  }

  .modal-content h2 {
    font-size: 20px;
  }

  .modal-content p {
    font-size: 16px;
  }
}
