/* font imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Dont Touch This #content */

#content {
  display: none;
}

/* other CSS */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#sports-container {
  display: grid;
  padding: 15px;
  grid-template-columns: 48% 48%;
  column-gap: 15px;
  row-gap: 15px;
}

.card-img {
  max-height: -webkit-fill-available;
}

.card-text {
  position: relative;
  top: -25%;
  font-size: 16px !important;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-blkit {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.sport-card {
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  background: var(--user-sp-card-back);
  transition: background-color 0.3s;
  height: 150px;
  color: white;
  font-size: 18px;
  text-align: center;
  align-content: end;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sport-card:hover {
  background-color: #f0f0f0;
}

.title-holder {
  padding-bottom: 15px;
}

.title {
  border-radius: 10px;
  padding: 15px;
  background: var(--user-sp-card-back);
  /* height: px; */
  color: white;
  text-align: center;
  align-content: end;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.title > span {
  font-size: 28px;
}

.check-out-title {
  border-top: 2px solid #a0a0a0;
  border-bottom: 2px solid #a0a0a0;
  padding-bottom: 4px;
  padding-top: 3px;
  padding-left: 5px;
  justify-content: center;
  margin-bottom: 10px;
  color: var(--mobile-text);
}

.all-items {
  padding: 10px;
  overflow: auto;
  max-height: 408px;
}

.avl-quantity {
  display: none;
}

#items-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.main-req-holder {
  padding: 12px;
  padding-bottom: 0px;
}

.item-div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: var(--mobile-text) !important;
}

.item-div span {
  flex: 1;
}

.item-div input {
  width: 50px;
  margin-left: 10px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group button {
  background-color: #ffa500;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 0px;
  align-self: center;
  align-content: center;
}
.input-group input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: none;
  background-color: #e0e0e0;
  font-size: 18px;
  border-radius: 15px;
  margin: 0 5px;
}

.req-btn-holder {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.req-btn {
  padding: 14px 20px;
  background: var(--user-sp-card-back);
  color: white;
  border: none;
  font-size: 17px;
  width: 100%;
  cursor: pointer;
  font-family: "Inter" !important;
  font-weight: 600;
}

.req-btn:hover {
  background-color: var(--user-sp-card-back);
}

.not-available {
  flex: none !important;
  padding-right: 6px;
  color: red;
  font-weight: 600;
}